%h1 Sign in
= simple_form_for(:session, :url => sessions_path) do |f|
  = f.input :email, :placeholder => 'Email', :label => false
  = f.input :password, :placeholder => 'Password', :label => false
  %br/
  = f.submit "Sign in", :class =>'btn btn-primary'
%p
  New user? #{link_to "Sign up now!", new_user_path}