- with_options :scope => :users do |us|
  %h1
    = us.t :edit_user
= simple_form_for @user do |f|
  = f.input :name,  :label => false
  = f.input :email, :label => false
  = f.input :password, :label => false
  = f.input :password_confirmation , :label => false
  = f.submit :class =>'btn btn-primary'