%h1
  = t :users
= paginate @users
%table.table.table-striped.users.round
  %thead
    %tr
      %td
        %b
          = t :name
      %td
        %b
          = t :email
  %tbody
    = render @users
= paginate @users