- with_options :scope => :users do |us|
  %h1 #{us.t :sign_up}
  = simple_form_for @user do |f|
    = f.input :name, :placeholder => us.t(:name), :label => false
    = f.input :email, :placeholder => us.t(:email), :label => false
    = f.input :password, :placeholder => us.t(:password), :label => false
    = f.input :password_confirmation , :placeholder => us.t(:password_conf), :label => false
    %br/
    = f.submit us.t(:sign_up), :class =>'btn btn-primary'