%h1 #{t 'header.sign_up'}
= simple_form_for @user do |f|
  = f.input :name, :label => false
  = f.input :email, :label => false
  = f.input :password, :label => false
  = f.input :password_confirmation, :label => false
  %br/
  = f.submit :class =>'btn btn-primary'