%h1
  %b
    = t :profile
%p
  %b
    = t :name
  = @user.name
%p
  %b
    = t :email
  = @user.email
%p
  %b
    = t :password
  = @user.password_digest
%p
  %b
    = t :updated
  = @user.updated_at
%p
  %b
    = t :created
  = @user.created_at