%h1
  %b Profile:
%p
  %b Name:
  = @user.name
%p
  %b Email:
  = @user.email
%p
  %b Digest password:
  = @user.password_digest
%p
  %b Was created:
  = @user.updated_at
%p
  %b Was updated:
  = @user.created_at