- with_options :scope => :users do |us|
  %h1 #{us.t :profile}
  %p
    %b
      = us.t(:name) << ':'
    = @user.name
  %p
    %b
      = us.t(:email) << ':'
    = @user.email
  %p
    %b
      = us.t(:password) << ':'
    = @user.password_digest
  %p
    %b
      = us.t(:updated) << ':'
    = @user.updated_at
  %p
    %b
      = us.t(:created) << ':'
    = @user.created_at