%h1 #{t 'header.profile'}
%p
  %b #{User.human_attribute_name(:name) << ':'}
  = @user.name
%p
  %b #{User.human_attribute_name(:email) << ':'}
  = @user.email
%p
  %b #{User.human_attribute_name(:password_digest) << ':'}
  = @user.password_digest
%p
  %b #{User.human_attribute_name(:updated_at) << ':'}
  = @user.updated_at
%p
  %b #{User.human_attribute_name(:created_at) << ':'}
  = @user.created_at