%thead
  %tr
    %td
      %b #{Story.human_attribute_name(:title)}
    %td
      %b #{Story.human_attribute_name(:description)}
    %td
      %b #{Story.human_attribute_name(:creator_id)}
    %td
      %b #{Story.human_attribute_name(:performer_id)}
    %td
      %b #{Story.human_attribute_name(:deadline)}
    %td
      %b #{Story.human_attribute_name(:state)}
    %td
      %i.icon-pencil
    %td
      %i.icon-remove
%tbody