%thead
  %tr
    %td
      %b
        = t :title
    %td
      %b
        = t :description
    %td
      %b
        = t :creator
    %td
      %b
        = t :performer
    %td
      %b
        = t :deadline
    %td
      %b
        = t :state
    %td
      %i.icon-pencil
    %td
      %i.icon-remove
%tbody