- with_options :scope => :table do |table|
  %thead
    %tr
      %td
        %b
          = table.t(:title)
      %td
        %b
          = table.t(:description)
      %td
        %b
          = table.t(:creator)
      %td
        %b
          = table.t(:performer)
      %td
        %b
          = table.t(:deadline)
      %td
        %b
          = table.t(:state)
      %td
        %i.icon-pencil
      %td
        %i.icon-remove
  %tbody