- if !signed_in?
  %h1 Добро пожаловать!
  %p Вас приветствует Simple Task Manager.
  %p Для входа в систему необходимо зарегистрироваться и войти под своей учётной записью.
  = link_to "Войти", new_session_path, :class => "btn btn-primary"
  = link_to "Зарегистрироваться", new_user_path, :class => "btn "
-else
  %h1
    Добро пожаловать,
    =current_user.name
  %p Вас приветствует Simple Task Manager.
  %h4 Вы создали проекты:
  %table.table.table-striped
    = render 'shared/table'
    = render @stories= @creator_stories
  %h4 Вы назначены исполнителем в проектах:
  %table.table.table-striped
    = render 'shared/table'
    = render @stories= @performer_stories