%tr
  %td
    %i.icon-briefcase
    = link_to story.title, story
  %td
    = story.description
  %td
    = link_to story.creator.name, story.creator if story.creator
  %td
    = link_to story.performer.name, story.performer if story.performer
  %td
    = story.deadline
  %td
    = story_state_t story.state
  %td
    - if creator?(story)
      %a{:href => edit_story_path(story)}
        %i.icon-pencil
  %td
    - if creator?(story)
      = link_to story_path(story), :class => 'a', :method => :delete,:title => "#{story.title}" do
        %i.icon-remove