- with_options :scope => :story do |st|
  %h1
    = st.t :edit_story
  %p
    = st.t :change_in_story
  = simple_form_for (@story) do |f|
    = f.input :title, :placeholder => st.t(:title), :label => false,:input_html => {:class => 'input-xxlarge' }
    = f.input :description, :placeholder => st.t(:description), :label => false,  :as => :text, :input_html => {:rows => 3 , :class => "input-xxlarge"}
    = f.input :deadline, :label => st.t(:deadline),:input_html => {:class => 'input-small' }
    = f.association :performer, :collection => User.all(:order => 'id'), :prompt => st.t(:performer)
    = f.submit st.t(:edit), :class =>'btn btn-primary'