%h1 Edit Story
%p
  Внесите изменения в проект
= simple_form_for (@story) do |f|
  = f.input :title, :placeholder => 'Title', :label => false,:input_html => {:class => 'input-xxlarge' }
  = f.input :description, :placeholder => 'Description', :label => false,  :as => :text, :input_html => {:rows => 3 , :class => "input-xxlarge"}
  = f.input :deadline, :label => "Deadline",:input_html => {:class => 'input-small' }
  = f.association :performer, :collection => User.all(:order => 'id'), :prompt => "Choose a performer"
  = f.submit "Edit", :class =>'btn btn-primary'