%h1 All stories
%h5 Фильтры:

= search_form_for @q do |f|
  = f.select :creator_name_eq , User.all(:order => 'id').map {|x| x.name}, :prompt => "Creator"
  = f.select :state_eq , Story.state_machine.states.map {|x| x.name}, :prompt => "State"
  = f.submit  :class => "btn btn-info btn-mini", :value => "Применить"
  = link_to 'Сбросить', stories_path, :class => "btn btn-info btn-mini"

= paginate @stories
%table.table.table-striped
  = render 'shared/table'
  = render @stories
= paginate @stories