%h1
  = t 'header.stories'
%h5
  = t :filter
= search_form_for @q do |f|
  = f.select :creator_name_eq , User.all(:order => 'id').map {|x| x.name}, :prompt => t('search.creator')
  = f.select :state_eq , Story.state_machine.states.map {|x| x.name}, :prompt => t('search.state')
  = f.submit  :class => "btn btn-info btn-mini", :value => t(:filter)
  = link_to t(:no_filter), stories_path, :class => "btn btn-info btn-mini"

= paginate @stories
%table.table.table-striped
  = render 'stories/table'
  = render @stories
= paginate @stories

