- with_options :scope => :story do |st|
  %h1
    = st.t :new_story
  %p
    = st.t :create_story
  = simple_form_for (@story) do |f|
    = f.input :title, :label => false,:input_html => {:class => 'input-xxlarge' }
    = f.input :description, :label => false,  :as => :text, :input_html => {:rows => 3 , :class => "input-xxlarge"}
    = f.input :deadline,:input_html => {:class => 'input-small' }
    = f.association :performer, :collection => User.all(:order => 'id')
    = f.submit :class =>'btn btn-primary'

