%h1
  = t :new_story
%p
  = t :create_story
= simple_form_for (@story) do |f|
  = f.input :title, :placeholder => t(:title), :label => false,:input_html => {:class => 'input-xxlarge' }
  = f.input :description, :placeholder => t(:description), :label => false,  :as => :text, :input_html => {:rows => 3 , :class => "input-xxlarge"}
  = f.input :deadline, :label => t(:deadline),:input_html => {:class => 'input-small' }
  = f.association :performer, :collection => User.all(:order => 'id'), :prompt => t(:performer)
  = f.submit t(:create), :class =>'btn btn-primary'

