%h1
  %b
    =@story.title
%p
  %b #{ Story.human_attribute_name(:description) << ':'}
  = @story.description
%p
  %b #{ Story.human_attribute_name(:deadline) << ':'}
  = @story.deadline
%p
  %b
    = Story.human_attribute_name(:creator_id) << ':'
  =link_to @story.creator.name, @story.creator
%p
  %b
    = Story.human_attribute_name(:performer_id) << ':'
  =link_to @story.performer.name, @story.performer
%p
  %b
    = Story.human_attribute_name(:created_at) << ':'
  = @story.created_at
%p
  %b
    = Story.human_attribute_name(:updated_at) << ':'
  = @story.updated_at
%p
  %b
    = Story.human_attribute_name(:state) << ':'
  = @story.human_state_name
  =@story.state_events.each_with_object(nil) do |e|
    =link_to Story.human_state_event_name(e), story_path(:id => @story.id, :event => e), :class => "btn btn-primary"
%h4
  = t(:comments) << ':'
= render 'comments/comment_form'
- if @comments.present?
  %table.microposts
    = render @comments
    = paginate @comments