!!!
%html(lang="en")
  %head
    = render :partial => 'layouts/head'
    %title= title
  %body
    .container
      = render  :partial => 'layouts/header'
      %section.round
        = flash_block
        = yield


