!!!
%html
  %head
    %title= title
    = render 'layouts/head'
  %body
    .container
      = render 'layouts/header'
      %section.round
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}= value
        = yield
      = #render 'layouts/footer'